<div id="feed">
  <div class="search-feed right-column block">
  <span class="social-title"> Follow </span>
  <div class="sc-menu" style="overflow:hidden;">
    <ul clss="sc-menu">
      <li>
        <a id="rss" href="{{ site.subscribe_rss }}" rel="subscribe-rss" original-title="RSS Feed" target="_blank"></a>
      </li>
      <li>
        <a id="plus" href="#" original-title="Xinlang Weibo" target="_blank"></a>
      </li>
      <li>
        <a id="twitter" href="#" original-title="Twitter" target="_blank"></a>
      </li>
      <li>
        <a id="facebook" href="#" original-title="Twitter" target="_blank"></a>
      </li>

    </ul>
  </div>
</div>
