<div id="feed">
  <div class="search-feed right-column block">
  <span class="social-title"> Follow </span>
  <div class="sc-menu" style="overflow:hidden;">
    <ul clss="sc-menu">
      <li>
        <a id="rss" href="{{ site.subscribe_rss }}" rel="subscribe-rss" original-title="RSS Feed" target="_blank"></a>
      </li>
      <li>
        <a id="twitter" href="https://twitter.com/#!/search/ruby%20china" original-title="Twitter" target="_blank"></a>
      </li>
      <li>
        <a id="delicious-icon" href="http://delicious.com/railschina" original-title="delicious" target="_blank"></a>
      </li>

    </ul>
  </div>
</div>
