<div class="section">
  <div class="section-content">
    <div class="section-title">
      <div class="section-title-background"> </div>
      <h3 class="section-title-inner"> 招聘信息 </h3>
    </div>
     <ul>   
    {% for post in site.posts limit:7 %} 
    {% if post.categories contains 'job' %}
    <li><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
</div>
</div>

