    <div class="footer">
        <div class="footer-top">
        </div>
        <div class="container">
            <div style="clear:both">
            </div>
            
            <span id="credits-cc">
              <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/"> 全站内容采用创用 CC 授权释出
             </a>
             <img style="max-width:100%;" alt="Creative Commons License" src="../images/cc.png">
            </span>
            <p id="copyright" class="credits">
              <a href="http://www.railschina.org" class="foot-title">Ruby on Rails China </a>
              </br>
            Copyright &copy; -- <a href="github.com/Tassandar">Tassandar</a> -- 2012 
            <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span> 
            </p>
        </div>
      </div> <!--footer-->

