<div id="fork-me-in-github">
  <a href="https://github.com/Tassandar/Ruby-on-Rails-China">
<img src="{{ root_url }}/images/fork-me-in-github.png">
</a>
</div>
<div class="header" style="margin:0 auto;">
  <div class="container" style="margin-bottom:0px;">
    <div id="railscar-picture">&nbsp;</div>
    <div id="logo">
      <span> </span>
      <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
    </div>
  {% if site.subtitle %}
    <div id="tagline">{{ site.subtitle }}</div>
  {% endif %}
  </div>
</div>
