  <div class="contribute-title">
     <h3 id="small-tagline"><span>&mdash;&mdash;&mdash;&mdash;</span>         Contribute For Rails China                    <span>&mdash;&mdash;&mdash;&mdash;</span></h3>
  </div>
<div class="contribute-content left-column sans-serif ">
  <ul class="contribute-blocks">
  <li class="block" id="Rails-Guides">
     <div class="contribute-picture">
       <a alt="Rails Guides" href="guides.railschina.org"><img alt="Rails" src="{{ root_url }}/images/Ruby_on_Rails_logo.jpg"/></a>
     </div> 
     <h4><a>Rails 中文指南</a></h4>
     <div class="block-content">
       <p> Rails Guides 是中文版本的 Rails 指南，是<a href="guides.rubyonrails.org">官方英文版</a>的中文化 </p>
       <span> <a href="#">加入翻译</a> </span>
     </div>
  </li>
  <li class="block" id="Rails-Tutorial">
    <div class="contribute-picture">
       <a alt="Rails Tutorial" href="tutorial.railschina.org"><img alt="Rails tutorial" src="{{ root_url }}/images/tutorial.png"/></a>
     </div> 
     <h4><a>Rails 中文教程</a></h4>
     <div class="block-content">
       <p> Rails 教程是中文版本的 Rails 教程，是<a href="railstutorial.org">Rails tutorial 3</a></p>
     <span> <a href="#">加入翻译</a> </span>
     </div>
  </li>
  <li class="block" id="Rails-SocialBook">
     <div class="contribute-picture">
       <a alt="Rails Caster" href="railschina.org"><img alt="Rails tutorial" src="{{ root_url }}/images/rails_icon.png"/></a>
     </div> 
     <h4><a>Rails 中文播客 </a> </h4>  
     <div class="block-content">
       <p> Rails Caster 是 由 poshboy 牵头，Ruby on Rails 社区成员分享制作的 Rails 实践集</p>
       <span> <a href="#">加入翻译</a> </span>
     </div>
  </li>
  <li class="block" id="Rails-Guides">
     <div class="contribute-picture">
       <a alt="Rails China" href="railschina.org"><img alt="RailsChina" src="{{ root_url }}/images/RubyOnRails.png"/></a>
     </div> 
     <h4><a>Rails 中文站</a></h4>
     <div class="block-content">
       <p> Rails Guides 是中文版本的 Rails 指南，是<a href="guides.rubyonrails.org">官方英文版</a>的中文化 </p>
       <span> <a href="#">加入翻译</a> </span>
     </div>
  </li>

 </ul>
</div>

