  <div class="contribute-title">
     <h3 id="small-tagline"><span>&mdash;&mdash;&mdash;&mdash;</span>         Contribute For Rails China                    <span>&mdash;&mdash;&mdash;&mdash;</span></h3>
  </div>
<div class="contribute-content left-column sans-serif ">
  <ul class="contribute-blocks">
  <li class="block" id="Rails-Guides">
     <div class="contribute-picture">
       <a alt="Rails Guides" href="http://guides.railschina.org"><img alt="Rails" src="{{ root_url }}/images/Ruby_on_Rails_logo.jpg"/></a>
     </div> 
     <h4><a href="http://guides.railschina.org">Rails 中文指南</a></h4>
     <div class="block-content">
       <p> Rails Guides 是中文版本的 Rails 指南，是<a href="guides.rubyonrails.org">官方英文版</a>的中文化 </p>
       <span> <a href="https://github.com/ruby-china/rails-guides">加入翻译</a> </span>
     </div>
  </li>
  <li class="block" id="Rails-Tutorial">
    <div class="contribute-picture">
       <a alt="Rails Tutorial" href="https://github.com/Tassandar/Rails-Tutorial-Translate"><img alt="Rails Tutorial" src="{{ root_url }}/images/tutorial.png"/></a>
     </div> 
     <h4><a href="https://github.com/Tassandar/Rails-Tutorial-Translate">Rails 中文教程</a></h4>
     <div class="block-content">
       <p> Rails 教程是中文版本的 Rails 教程，是Rails tutorial 的中文版</p>
     <span> <a href="https://github.com/Tassandar/Rails-Tutorial-Translate">加入翻译</a> </span>
     </div>
  </li>
  <li class="block" id="Rails-Caster">
     <div class="contribute-picture">
       <a alt="Rails Caster" href="http://railscasts-china.com/"><img alt="Rails Caster" src="{{ root_url }}/images/rails_icon.png"/></a>
     </div> 
     <h4><a href="http://railscasts-china.com/">Rails 中文播客 </a></h4>  
     <div class="block-content">
       <p> Rails Caster 是 由 poshboy 牵头，Ruby on Rails 社区成员分享制作的 Rails 实践集</p>
       <span> <a href="https://github.com/pragmaticly/railscasts-china">加入贡献</a> </span>
     </div>
  </li>
  <li class="block" id="Rails-China">
     <div class="contribute-picture">
       <a alt="Rails China" href="http://railschina.org"><img alt="RailsChina" src="{{ root_url }}/images/RubyOnRails.png"/></a>
     </div> 
     <h4><a href="http://railschina.org">Rails 中文站</a></h4>
     <div class="block-content">
       <p> Rails 中文站就是本站，一个开源的博客，你在这里可以找到关于Ruby on Rails 的一切。</p>
       <span> <a href="https://github.com/Tassandar/Ruby-on-Rails-China">加入贡献</a> </span>
     </div>
  </li>

 </ul>
</div>

